.env
SentimentAnalysis/**/*.pickle
SentimentAnalysis/**/*/embeddings.dat

# Não colocar o runtime llamafile no repositório, e nenhum modelo de linguagem
# Lucas 2024-09-08
SentimentAnalysis/**/*.exe
SentimentAnalysis/**/*.gguf

SentimentAnalysis/Dataset/train.jsonl

venv/
.venv/
llamafile*

__pycache__
SentimentAnalysis/3_HelpTest/models
SentimentAnalysis/3_HelpTest/output_embeddings.parquet